/* .section {
  border: 1px solid red;
  flex: 0 0 20%;
  margin-bottom: "10px";
} */

.widgets {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.section-groupName {
  font-size: 25px;
  font-weight: 500;
}
